td,
th {
    border: 1px solid rgb(94, 6, 6);
    padding: 10px;
}

td {
    text-align: center;
}


/* body{
    background-color: aquamarine;
    color:red;
} */
div{
    background-color: rgb(249, 249, 250);
    color:rgb(114, 12, 12);    
}
table {
    border-collapse: collapse;
    border: 2px solid rgb(78, 10, 10);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}
